# V build artifacts
*.exe
*.exe~
*.so
*.dylib
*.dll
*.a
*.o
*_test
vls.log
.bin/

# Compiled examples (name matches the example directory)
/examples/*/[!.]*
!/examples/*/*.v
!/examples/*/*.md
!/examples/*/*.html
